<div class="navbar">
  <div class="navbar__header"><%= link_to("LEARN ASSIST", home_path) %></div>
  <% if !current_user.blank? %>
  	<%= link_to profile_path, class: "navlist_item" do %>
  	<div class="navbar__list__item"><%= image_tag current_user.avatar.url(:thumb) %></div>
  	<div class="navbar__list__item">
  		<div class="navbar__list__item__name"><%= current_user.first_name %> <%= current_user.last_name %></div>
  	</div>
  	<% end %>
  <% end %>
</div>