<div class="home">
	<div class="home__heading">
		<h1>List of your goals test</h1>
		<div class="selector">
			<input type="checkbox" class="js-searchStarted" checked="checked"><span>Just started</span>
			<input type="checkbox" class="js-searchWorking" checked="checked"><span>In progress</span>
			<input type="checkbox" class="js-searchFinished" checked="checked"><span>Finished</span>
		</div>
	</div>
	<div class="home_wrapper">
		<div class="goal__content__home" data-length="<%= @goals.count %>">
			<% i = 1 %>
			<% @goals.each do |goal| %>
				<%= link_to( goal_path(goal.id) , :class => "goal__content__home__card")  do %>
				
					<div class="goal__content__home__card_up">
						<div id="circle<%=i%>" data-goal="<%= goal.id %>"></div>
						<div class="goal__content__home__card_up__status">0%</div>
					</div>
					<div class="goal__content__home__card_down"><%= goal.name %></div>
				<% end %>
				<% i = i+1 %>
			<% end %>
		</div>
		<% if @goals.blank? %>
			You dont have any goals
		<% end %>
	</div>
</div>

