<%= form_for :user, url: user_update_path, html: {class: "nifty_form"} do |f| %>
<div class="content_wrapper">
	<div class="content__header">
		<div class="content__header__left">
			<h1>Account Information</h1>
			<%if false %>
				<%= image_tag @user.avatar.url %>
				<%= image_tag @user.avatar.url(:medium) %>
				<%= image_tag @user.avatar.url(:thumb) %>
			<% end %>
		</div>
		<div class="content__header__right">
			<%= f.submit "SAVE" , class: "btn btn-success btn-save" %>
		</div>
		
	</div>
	<div class="content__body content__body__profile">
		<div>
			<span>First name:</span>
			<%= f.text_field :first_name, :value => @user.first_name %>
		</div>
		<div>
			<span>Last name:</span>
			<%= f.text_field :last_name, :value => @user.last_name %> 
		</div>
		<div>
			<span>Username:</span> 
			<%= f.text_field :username, :value => @user.username %>
		</div>
		<div class="email">
			<span>email:</span> 
			<%= f.text_field :email, :value => @user.email %>
		</div>
		<div class="avatar">
			<span>update avatar:</span>
			<%= f.file_field :avatar %>
		</div>
	</div>
</div>
<% end %>



